@use "../abstracts/variables" as *;
body {
    // background-color: $primary-color ;
    font-family: "Inter", sans-serif;
}
.container {
  max-width: 1440px; /* or a specific value */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; /* prevents content from touching screen edges on small screens */
}