//  Basic 
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1')
//  Title & SEO 
title #{pageTitle} - Uber Travel Agency 
meta(name='description' content=pageDescription)
meta(name='keywords' content=pageKeywords)
meta(name='author' content='auther name or company')
//  Robots 
meta(name='robots' content='index, follow')
//  Canonical 
//link(rel='canonical' href='https://example.com/page-url')
//  Language 
meta(http-equiv='content-language' content='fa')
//  Favicon 
link(rel='icon' href='/assets/images/favicon.ico' type='image/x-icon')
link(rel='apple-touch-icon' href='/assets/images/apple-touch-icon.png')
//  Theme Color (Mobile Browser) 
meta(name='theme-color' content='#ffffff')
//  Open Graph (Facebook, LinkedIn, etc) 
meta(property='og:title' content='title of page')
meta(property='og:description' content='summary description for social media')
meta(property='og:image' content='https://example.com/assets/images/cover.jpg')
meta(property='og:url' content='https://example.com/page-url')
meta(property='og:type' content='website')
meta(property='og:site_name' content='website title')
//  Twitter Card 
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:title' content='page title')
meta(name='twitter:description' content='summary page description')
meta(name='twitter:image' content='https://example.com/assets/images/cover.jpg')
//  Preconnect (Performance) 
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
//  Fonts 
link(href='https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap' rel='stylesheet')
//  CSS 
link(rel='stylesheet' href='/assets/css/main.css')
block style