// Breakpoints
$bp-default-width : 1440px;
$bp-max-width : 100%;
$bp-desktop: 1200px;
$bp-tablet: 992px;
$bp-mobile: 768px;
$bp-small: 576px;



$white:#ffffff;
$grey:#414042;
$black:#231f20;
$pink:#cc3493;
$primary-dark-blue:#1B4563;
$primary-color:#1C425D;
$priamry-dark-color:#011B2F;
$primary-pink :#BD1680;
$btn-color:#BD1680;
$yellow:#FFCC83;
$text-color: #656565;