block style 
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css')
block body
  section.slider
    .container
      .slider__wrapper
        .slider-col  
          .slider__content
              p.slider-text.slider-sotitle Apply in minutes
              h1.slider-text.slider-title Get Approved In Hours
              a.slider-btn(href="#") Read More
              p.enjoy-dubai Now is the Time to Enjoy Dubai ...
        .slider-col 
          .slider__images
              img.img1(src="/assets/img/slider/slider-01.png" alt="")
              img.img2(src="/assets/img/slider/slider-02.png" alt="")
              img.img3(src="/assets/img/slider/slider-03.png" alt="")
      img.img4.cloud(src="/assets/img/slider/Large_Cloud_Transparent_PNG_Image01.png" alt="")
      img.img5.plane(src="/assets/img/slider/a380-aircraft.png" alt="")
      img.img6.cloud(src="/assets/img/slider/Large_Cloud_Transparent_PNG_Image02.png" alt="")
    img.img-bottom(src="/assets/img/slider/slider-bg.png" alt="")


  section.section-01.has-world-bg
    .container
        .uta-col.pl-30
          h2 Why Book a Dubai Bus Tour?
          p Enjoy panoramic views as you explore Dubai’s modern skyline and historic districts. Our open-top buses let you hop on and off at the city’s most popular attractions. Live audio guides share fascinating stories and insights along the way. Comfortable seating and flexible routes make sightseeing easy and enjoyable. Capture unforgettable moments while discovering Dubai at your own pace.

        .uta-col.right-images
          img.img9.img-section(src="/assets/img/safari-img-01.png")
          img.img8.img-section(src="/assets/img/girl-in-desert.png")
          img.img7.img-section(src="/assets/img/burj-al-arab.png")
        a.see-more(href="#")  See More
  section.attractions
    .container

      h2.section-title Top Attractions

      .attraction-categories
        +hexIcon("/assets/img/icons/visa.svg","Visa")
        +hexIcon("/assets/img/icons/activity.svg","Activity",true)
        +hexIcon("/assets/img/icons/hotel.svg","Hotel")
        +hexIcon("/assets/img/icons/tour.svg","Tour")
        +hexIcon("/assets/img/icons/car.svg","Car")
        +hexIcon("/assets/img/icons/cruise.svg","Cruise")

      .swiper.attraction-slider
        .swiper-wrapper

          +tourCard("/assets/img/desert.jpg","Big Bus + Desert Safari","72","90","20")

          +tourCard("/assets/img/desert.jpg","Big Bus + Desert Safari","72","90","20")

          +tourCard("/assets/img/desert2.jpg","Big Bus + Desert Safari","72","90","20")

          +tourCard("/assets/img/desert3.jpg","Big Bus + Desert Safari","72","90","20")

        .swiper-button-next
        .swiper-button-prev
  section.section-3
    .container
        .uta-col.left-images
          img(src="/assets/img/burj-khalifa.png")
        .uta-col.right-text
          h2 Why Book a Dubai Bus Tour?
          p Enjoy panoramic views as you explore Dubai’s modern skyline and historic districts. Our open-top buses let you hop on and off at the city’s most popular attractions. Live audio guides share fascinating stories and insights along the way. Comfortable seating and flexible routes make sightseeing easy and enjoyable. Capture unforgettable moments while discovering Dubai at your own pace.Enjoy panoramic views as you explore Dubai’s modern skyline and historic districts. Our open-top buses let you hop on and off at the city’s most popular attractions. Live audio guides share fascinating stories.

  section.faq
    .container
      .faq-layout

        .faq-left

          h2.faq-title FAQ

          .faq-wrapper

            .faq-item.active
              button.faq-question
                .faq-left-inner
                  .faq-icon
                    img(src="/assets/img/icons/help.svg" alt="")
                  span What is Lorem Ipsum?
                .faq-toggle ?

              .faq-answer
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            .faq-item
              button.faq-question
                .faq-left-inner
                  .faq-icon
                    img(src="/assets/img/icons/help.svg" alt="")
                  span Where can I get some?
                .faq-toggle ?

              .faq-answer
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

            .faq-item
              button.faq-question
                .faq-left-inner
                  .faq-icon
                    img(src="/assets/img/icons/help.svg" alt="")
                  span Where does it come from?
                .faq-toggle ?

              .faq-answer
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        .faq-right
          img(src="/assets/img/burj-al-arab-02.png" alt="Burj Al Arab")

