extends ../layout.pug
block head 
    - var pageTitle = "Home Page"
    - var pageDescription = "Test"       
    - var pageKeywords = "Test"       
    include ../head
block body 
    header 
        include ../header
    main 
        include ../content/home
block pageScripts 
  script(src="/assets/js/modules/cloud-parallex.js")
  script(src="/assets/js/modules/accordion.js")
  script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
