extends ../layout.pug
block head 
    - var pageTitle = "Home Page"
    - var pageDescription = "Test"       
    - var pageKeywords = "Test"       
    include ../head
    block style 
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css')
block body 
    header 
        include ../header
    main 
        section.slider
          .container
            .slider__wrapper
              .slider-col  
                .slider__content
                    p.slider-text.slider-sotitle Apply in minutes
                    h1.slider-text.slider-title Get Approved In Hours
                    a.slider-btn(href="#") Read More
                    p.enjoy-dubai Now is the Time to Enjoy Dubai ...
              .slider-col 
                .slider__images
                    img.img1(src="/assets/img/slider/slider-01.png" alt="")
                    img.img2(src="/assets/img/slider/slider-02.png" alt="")
                    img.img3(src="/assets/img/slider/slider-03.png" alt="")
            img.img4.cloud(src="/assets/img/slider/Large_Cloud_Transparent_PNG_Image01.png" alt="")
            img.img5.plane(src="/assets/img/slider/a380-aircraft.png" alt="")
            img.img6.cloud(src="/assets/img/slider/Large_Cloud_Transparent_PNG_Image02.png" alt="")
          img.img-bottom(src="/assets/img/slider/slider-bg.png" alt="")
      
block pageScripts 
    script(src="/assets/js/modules/cloud-parallex.js")
    script(src="/assets/js/modules/accordion.js")
    script(src="/assets/js/modules/section01-images-reveal.js")

    script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js')
    script(src="/assets/js/modules/swipper.js")
    script.
      document.querySelectorAll('[data-tab]').forEach(tab=>{
        tab.addEventListener('click',()=>{

          const id = tab.dataset.tab

          document.querySelectorAll('[role="tab"]').forEach(t=>{
            t.classList.remove('active')
            t.setAttribute('aria-selected','false')
          })

          document.querySelectorAll('[data-tab-panel]').forEach(panel=>{
            panel.classList.remove('active')
          })

          tab.classList.add('active')
          tab.setAttribute('aria-selected','true')

          document.querySelector(`[data-tab-panel="${id}"]`).classList.add('active')

        })
      })
