.attractions {
    padding: 40px 0;
    position: relative;
}

.section-title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 60px;
    color: #c21c86;
}

.attraction-categories {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;



    .hex {
        position: relative;
        background-image: url("/assets/img/star-dark.svg");
        background-repeat: no-repeat;
        background-size: 163px;
        background-position: center center;
        width: 183px;
        height: 183px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-image: url("/assets/img/star-pink.svg");
        }
    }
}

.attraction-tab-panels {
    position: relative;
}

.attraction-tab-panel {
    display: none;

    &.active {
        display: block;
    }
}


.hex-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}


.hex.active {
    background-image: url("/assets/img/star-pink.svg");
}

.hex.active svg {
    fill: #c21c86;
}

.hex:hover {
    transform: translateY(-8px);
}

.hex:hover svg {
    fill: #c21c86;
}

.attraction-slider {
    padding: 30px 10px 60px;
}

.tour-card {

    background: white;

    border-radius: 26px;

    padding: 20px;

    text-align: center;

    position: relative;

    overflow: hidden;

    box-shadow: 0 10px 35px rgba(0, 0, 0, .08);

    transition: .35s;
}

.tour-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .15);
}

.tour-image {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    margin-bottom: 15px;
}

.tour-image img {
    width: 100%;
    display: block;
    transition: .4s;
}

.tour-card:hover img {
    transform: scale(1.08);
}

/* glass */

.glass {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: .35s;
}

.tour-card:hover .glass {
    opacity: 1;
}

/* overlay button */

.overlay-btn {

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) scale(.8);

    background: #c21c86;
    color: white;

    padding: 10px 22px;

    border-radius: 30px;

    opacity: 0;

    transition: .35s;
}

.tour-card:hover .overlay-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.tour-title {
    color: #c21c86;
    font-size: 18px;
    margin-bottom: 10px;
}

.tour-price {
    font-size: 14px;
    margin-bottom: 16px;
}

.tour-price strong {
    font-size: 20px;
    margin-left: 4px;
}

.old {
    color: #999;
    margin-left: 6px;
}

.btn-buy {
    display: block;
    background: #c21c86;
    color: white;
    padding: 14px;
    border-radius: 30px;
    font-weight: 600;
}
