@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Images responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* Button reset */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Improve media defaults */
iframe {
  border: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px; /* or a specific value */
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; /* prevents content from touching screen edges on small screens */
}

/* Inter Light */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Inter Medium */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Inter SemiBold */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Inter Bold */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Italic */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/static/Inter_28pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion/Damion-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header__wrapper .header__logo {
  margin-right: 20px;
}
.header__wrapper .header-left, .header__wrapper .header-right {
  display: flex;
  align-items: center;
}
.header__wrapper .header-right {
  justify-content: end;
}
.header__wrapper .header-right button {
  margin: 10px 5px;
}
.header__wrapper .header-right .sign-in-up {
  margin-left: 10px;
}
.header__wrapper .dark-logo {
  height: 62px;
}
.header__wrapper ul.mainmenu {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__wrapper ul.mainmenu li {
  list-style: none;
}
.header__wrapper ul.mainmenu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
.header__wrapper .sign-in-up {
  font-size: 16px;
  padding: 10px 20px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 34px;
  background-color: #BD1680;
}

.uta-footer {
  min-height: 419px;
  background-image: linear-gradient(to right, #1C425D, #011B2F);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
.uta-footer .container {
  display: flex;
  padding-top: 82px;
  padding-bottom: 86px;
  border-bottom: 3px solid #BD1680;
  justify-content: space-between;
}
.uta-footer .container .footer-left {
  display: flex;
}
.uta-footer .container .footer-right {
  display: flex;
  align-items: center;
}
.uta-footer .container .footer-right nav ul.footer-menu {
  display: flex;
  gap: 40px;
  margin-right: 30px;
}
.uta-footer .container .footer-right nav ul.footer-menu li {
  list-style: none;
}
.uta-footer .container .footer-right nav ul.footer-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
.uta-footer .container .footer-right .btn-readmore {
  font-size: 16px;
  padding: 5px 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 34px;
  background-color: #BD1680;
}
.uta-footer .copyright {
  color: #ffffff;
}
.uta-footer .copyright .container {
  padding: 30px 0 60px 0 !important;
  align-items: center;
  border: none;
}
.uta-footer .copyright .container .uta-social ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.uta-footer .copyright .container .uta-social ul img.icon {
  width: 32px;
}

/* Teko Light */
@font-face {
  font-family: "Teko";
  src: url("../../assets/fonts/Teko/static/Teko-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Teko Regular */
@font-face {
  font-family: "Teko";
  src: url("../../assets/fonts/Teko/static/Teko-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Teko Medium */
@font-face {
  font-family: "Teko";
  src: url("../../assets/fonts/Teko/static/Teko-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Teko SemiBold */
@font-face {
  font-family: "Teko";
  src: url("../../assets/fonts/Teko/static/Teko-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Teko Bold */
@font-face {
  font-family: "Teko";
  src: url("../../assets/fonts/Teko/static/Teko-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.faq {
  padding: 120px 0;
}

.faq-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}

.faq-title {
  color: #c21c86;
  font-size: 32px;
  margin-bottom: 30px;
}

.faq-wrapper {
  max-width: 520px;
}

.faq-item {
  background: #e7e7e7;
  border-radius: 14px;
  margin-bottom: 18px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  border: none;
  background: #d9d9d9;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-left-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.faq-icon {
  width: 34px;
  height: 34px;
  background: #224f6c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-icon img {
  width: 16px;
}

.faq-toggle {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 6px;
  background: #224f6c;
  color: white;
  font-weight: 700;
}

.faq-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  background: #f2f2f2;
  padding: 0 20px;
}

.faq-answer p {
  padding: 18px 0;
}

/* active */
.faq-item.active .faq-icon {
  background: #c21c86;
}

.faq-item.active .faq-toggle {
  background: #c21c86;
}

/* تصویر */
.faq-right img {
  width: 100%;
  max-width: 420px;
}

.attractions {
  padding: 140px 0;
  background: #f5f5f5;
  position: relative;
}

.section-title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 60px;
  color: #c21c86;
}

.attraction-categories {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.hex {
  position: relative;
  width: 110px;
  height: 110px;
  cursor: pointer;
  transition: 0.3s;
}

.hex svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #224f6c;
  transition: 0.3s;
}

.hex-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.hex img {
  width: 28px;
  margin-bottom: 6px;
}

.hex.active svg {
  fill: #c21c86;
}

.hex:hover {
  transform: translateY(-8px);
}

.hex:hover svg {
  fill: #c21c86;
}

.attraction-slider {
  padding: 30px 10px 60px;
}

.tour-card {
  background: white;
  border-radius: 26px;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  transition: 0.35s;
}

.tour-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

.tour-image {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  margin-bottom: 15px;
}

.tour-image img {
  width: 100%;
  display: block;
  transition: 0.4s;
}

.tour-card:hover img {
  transform: scale(1.08);
}

/* glass */
.glass {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: 0.35s;
}

.tour-card:hover .glass {
  opacity: 1;
}

/* overlay button */
.overlay-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: #c21c86;
  color: white;
  padding: 10px 22px;
  border-radius: 30px;
  opacity: 0;
  transition: 0.35s;
}

.tour-card:hover .overlay-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.tour-title {
  color: #c21c86;
  font-size: 18px;
  margin-bottom: 10px;
}

.tour-price {
  font-size: 14px;
  margin-bottom: 16px;
}

.tour-price strong {
  font-size: 20px;
  margin-left: 4px;
}

.old {
  color: #999;
  margin-left: 6px;
}

.btn-buy {
  display: block;
  background: #c21c86;
  color: white;
  padding: 14px;
  border-radius: 30px;
  font-weight: 600;
}

.slider {
  background-color: #1C425D;
  background-image: url("/assets/img/slider/uta-pattern-dark.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding-top: 150px;
  overflow: hidden;
  position: relative;
}

.slider-col {
  text-align: center;
}

.slider-btn {
  background-color: #05243A;
  padding: 10px 20px;
  border-radius: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

.slider__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 60px 0;
  align-items: center;
  gap: 40px;
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.slider__images img {
  border-radius: 30px;
  width: 100%;
  height: 497px;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transform: translateY(-80px);
}

@keyframes slideDown {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.img1 {
  animation: slideDown 0.6s ease forwards;
  animation-delay: 0.2s;
}

.img2 {
  animation: slideDown 0.6s ease forwards;
  animation-delay: 0.5s;
}

.img3 {
  animation: slideDown 0.6s ease forwards;
  animation-delay: 0.8s;
}

.img1,
.img2,
.img3 {
  height: 497px;
  object-fit: cover;
  object-position: center;
}

.img4 {
  position: absolute;
  right: 0;
  top: 40%;
}

.img6 {
  position: absolute;
  left: 0;
  top: 40%;
}

.plane {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateX(300px) scale(0.8);
  opacity: 0;
  animation: planeLoop 8s linear infinite;
}

@keyframes planeLoop {
  /* 1 ثانیه تاخیر (ایستادن بیرون صفحه) */
  0% {
    transform: translateX(300px) scale(0.8);
    opacity: 0;
  }
  12.5% {
    transform: translateX(300px) scale(0.8);
    opacity: 0;
  }
  /* ورود هواپیما */
  25% {
    transform: translateX(0) scale(0.8);
    opacity: 1;
  }
  /* 5 ثانیه توقف روی صفحه */
  75% {
    transform: translateX(0) scale(0.8);
    opacity: 1;
  }
  /* خروج از سمت چپ */
  100% {
    transform: translateX(-120vw) scale(0.8);
    opacity: 0;
  }
}
.enjoy-dubai {
  font-family: "Damion" !important;
  color: #FFCC83;
  margin-top: 20px;
  font-size: 32px;
}

.slider-text {
  font-family: "Teko" !important;
  color: #ffffff;
}

.slider-sotitle {
  font-size: 55px;
}

.slider-title {
  font-weight: bold;
  font-size: 75px;
}

.has-world-bg {
  background-image: url("/assets/img/dot-map-bg.jpg");
  background-repeat: no-repeat;
  background-position: -70px center;
}

.section-01 {
  min-height: 650px;
}
.section-01 .uta-col h2 {
  color: #BD1680;
  font-size: 32px;
  padding: 20px 0;
}
.section-01 .pl-30 {
  margin-left: 60;
}
.section-01 .uta-col p {
  color: #656565;
  line-height: 30px;
  max-width: 409px;
  text-align: justify;
}
.section-01 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.section-01 .right-images img {
  position: absolute;
}
.section-01 .right-images {
  position: relative;
}
.section-01 .right-images .img7 {
  top: 150px;
  left: -50px;
}
.section-01 .right-images .img8 {
  top: -100px;
  left: 20%;
}
.section-01 .right-images .img9 {
  right: -50px;
  top: 150px;
}

.see-more {
  border: 2px solid #BD1680;
  border-radius: 20px;
  padding: 10px 35px 10px 20px;
  width: 150px;
  margin-left: 60px;
  margin-top: 60px;
  color: #BD1680;
  position: relative;
  transition: all 0.3s ease;
}
.see-more::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/assets/img/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}
.see-more:hover {
  background: #BD1680;
  color: white;
}
.see-more:hover::after {
  transform: translateY(-50%) translateX(5px);
}

.section-3 {
  margin: 150px 0;
  height: 150px;
  position: relative;
  background-color: #1B4563;
  min-height: 700px;
}
.section-3 .container {
  display: flex;
  position: relative;
  align-items: flex-end;
}
.section-3 .container .left-images {
  position: absolute;
  top: -200px;
  left: 0;
}
.section-3 .container .right-text h2 {
  color: #BD1680;
  font-size: 32px;
  padding: 20px 0;
}
.section-3 .container .right-text {
  width: 550px;
  text-align: justify;
  margin-left: auto;
  color: white;
  padding: 150px 100px 0 0;
}
.section-3::before {
  content: "";
  position: absolute;
  background-image: url("/assets/img/ptrn02-01.png");
  top: -125px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.section-3::after {
  content: "";
  position: absolute;
  bottom: -140px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 140px;
  background-image: url("/assets/img/ptrn02-02.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
